html, body {
    font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 25px;
}
p {
    margin-top: 35px;
}

.editor {
    width: 680px;
    margin: 30px auto;
    height: 700px;
    border: 5px;
    border-color: black;
}

.info {
    width: 900px;
    margin: 45px auto;
    background: rgb(230, 255, 230);
    padding: 15px;
    border-radius: 3px;
    color: rgb(33, 33, 33);
}